.header__logo {
  width: 142px;
  height: 33px;
  padding-bottom: 41px;
  background-image: url(../../../images/header-logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 1000px) {
  .header__logo {
    width: 104px;
    height: 25px;
    margin-left: 27px;
    padding-bottom: 32px;
  }
}