.popup__save-button {
  margin: 18px 36px 36px;
  padding: 0;
  background: #000000;
  border: 0;
  border-radius: 2px;
  width: 358px;
  padding: 15px 0;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  color: #FFFFFF;
}

.popup__save-button:hover {
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  transition: all 0.5s linear;
}

@media screen and (max-width: 730px) {
  .popup__save-button {
    width: 200px;
    font-size: 14px;
    margin: 0 20px 30px;
    padding: 12px 0;
  }
}