.header__info {
  display: flex;
  margin-top: 6px;
  font-size: 18px;
  line-height: 22px;
  height: 22px;
}

@media screen and (max-width: 1000px) {
  .header__info {
    margin-right: 30px;
  }
}

@media screen and (max-width: 650px) {
  .header__info {
  font-size: 15px;
  line-height: 19px;
  height: 19px;
  }
}

@media screen and (max-width: 400px) {
  .header__info {
  flex-direction: column;
  height: auto;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  margin: -139px auto 0;
  }
}
