.header__info {
  display: flex;
  margin-top: 6px;
  font-size: 18px;
  line-height: 22px;
  height: 22px;
}

@media screen and (max-width: 650px) {
  .header__info {
  font-size: 15px;
  line-height: 19px;
  height: 19px;
  }
}

@media screen and (max-width: 400px) {
  .header__info {
  flex-direction: column;
  height: auto;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  margin: -139px auto 0;
    /* 139px =  27px до верхней линнии хедера + высота самого блока header__info + 
        40px от линии до блока + маржины между email и button 18px  */
  }
}
