.tool-tip__title {
    text-align: center;
    color: black;
    font-size: 24px;
    line-height: 29px;
    max-width: 358px;
    margin: 0 auto 60px;
}

@media screen and (max-width: 730px) {
    .tool-tip__title {
        font-size: 20px;
        line-height: 24px;
        margin: 0 18px 50px;
    }
}