.elements {
  max-width: 100%;
  margin: 50px auto 66px;
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, max-content));
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  grid-column-gap: 18px;
  grid-row-gap: 20px;
  flex-shrink: 0;
}

@media screen and (max-width: 1000px) {
  .elements {
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    grid-template-rows: repeat(3, minmax(min-content, max-content));
  }
}

@media screen and (max-width: 640px) {
  .elements {
    grid-template-columns: minmax(min-content, max-content);
    grid-template-rows: repeat(6, minmax(min-content, max-content));
    margin-bottom: 48px;
  }
}