.login__form {
    display: flex;
    flex-direction: column;
    width: 358px;
}

@media screen and (max-width: 650px) {
    .login__form {
        width: 300px;
    }
}

@media screen and (max-width: 520px) {
    .login__form {
        width: 270px;
    }
}

@media screen and (max-width: 400px) {
    .login__form {
        width: 260px;
    }
}