.popup__head {
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  color: #000000;
  margin: 34px 36px 54px;  
}

@media screen and (max-width: 730px) {
  .popup__head {
    font-size: 20px;
    margin: 30px 20px 36px;  
  }
}