.header__sign-out {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: 24px;
  color: #a9a9a9;
  transition: all 0.3s ease 0s;
  background-color: black;
}
  
.header__sign-out:hover {
  opacity: .8;
  transform: scale(1.03);
}

@media screen and (max-width: 400px) {
  .header__sign-out {
    margin-left: 0;
  }
}