.login__signup_header {
    font-size: 18px;
    text-align: right;
    margin-top: 6px;
    width: 114px;
    line-height: 22px;
    height: 22px;
    color: #ffffff;
    text-decoration: none;
    transition: all 0.3s ease 0s; 
}

.login__signup_header:hover {
    opacity: .8;
    transform: scale(1.03); 
}

@media screen and (max-width: 650px) {
    .login__signup_header {
        font-size: 15px;
        line-height: 18px;
    }
}

@media screen and (max-width: 400px) {
    .login__signup_header {
        margin-right: 30px;
    }
}
