.tool-tip__image {
    object-fit: contain;
    margin: 0px auto 32px;
    max-width: 120px;
    max-height: 120px;
}

@media screen and (max-width: 730px) {
    .tool-tip__image {
        margin: 0px auto 40px;
    }
}