.tool-tip__image {
    object-fit: contain;
    margin: 60px auto 32px;
    max-width: 120px;
    max-height: 120px;
}

@media screen and (max-width: 768px) {
    .tool-tip__image {
        max-width: 100px;
        max-height: 100px;
        margin: 50px auto 27px;
    }
}

@media screen and (max-width: 500px) {
    .tool-tip__image {
        max-width: 90px;
        max-height: 90px;
        margin: 40px auto 22px;
    }
}

@media screen and (max-width: 375px) {
    .tool-tip__image {
        max-width: 80px;
        max-height: 80px;
        margin: 10px auto 32px;
    }
}