@import url(./__logo/header__logo.css);
@import url(./__info/header__info.css);
@import url(./__email/header__email.css);
@import url(./__sign-out/header__sign-out.css);
@import url(./_burger-menu/header_burger-menu.css);

.header {
  width: 100%;
  height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 40px auto 0;
  border-bottom: 1px solid #545454;
  flex-shrink: 0;
}

@media screen and (max-width: 350px) {
  .header {
    margin: 28px auto 0;
    height: 56px;
  }
}