.login__btn-submit {
    margin-top: 216px;
    cursor: pointer;
    height: 50px;
    border-radius: 20px;
    border: none;
    font-size: 18px;
    line-height: 22px;
    background: #ffffff;
    padding: 0;
    transition: all 0.5s ease 0s;
    outline: none;
}

@media screen and (max-width: 650px) {
    .login__btn-submit {
        font-size: 16px;
        line-height: 19px;
    }
}

@media screen and (max-width: 520px) {
    .login__btn-submit {
        height: 40px;
        margin-top: 173px;
    }
}

.login__btn-submit:hover {
    opacity: .8;
}